body{
    background-image: url('pp.jfif');
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(223, 102, 176);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: x-large;
}
  .home{
    
    margin-left: 900px;
    margin-top: auto;
    background-color: rgb(12, 172, 184);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  border: black;
}
.home:hover {
    background-color: white;
    color: black;
  }
.about {
    
    margin-top: auto;
    background-color: rgb(41, 77, 238);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
    border: black;
    
}
.about:hover {
    background-color: white;
    color: black;
  }
.academic {
    margin-top: auto;
    border-radius: 6px;
    cursor: pointer;
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
    border: black;

}
.academic:hover {
    background-color: white;
    color: black;
  }
.contact {
    margin-top: auto;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(185, 66, 86);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
    border: black;

}
.contact:hover {
    background-color: white;
    color: black;
  }
.box {
    background-color: rgb(25, 138, 167);
    border-style: dotted;
    width: 500px;
    height: 40px;
    text-align: center;
}

  .x{
      color: purple;
      font-size: x-large;
      border-style:groove;
    border-width: 7px;
    border-color: purple;
    border-radius: 10px;
    background-image: url(lk.jfif);
    text-align: center;
  }
  .y{
      background-color: black;
    color: purple;
    font-size: x-large;
    border-style:groove;
    border-color: purple;
  border-width: 7px;
  background-image: url(xd.jpg);
  border-radius: 10px;
  text-align: center;
}
.z{
    color: purple;
    font-size: x-large;
    border-style:groove;
  border-width: 7px;
  border-color: purple;
  border-radius: 10px;
  background-image: url(lk.jfif);
  text-align: center;
}
